@font-face {
  font-family: "Relaway-ExtraBold";
  src: url("/nado_sdelat_idealno-main/fonts/Raleway-ExtraBold.woff2");
}

@font-face {
  font-family: "Relaway-Regular";
  src: url("/nado_sdelat_idealno-main/fonts/Raleway-Regular.woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
  height: inherit;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.zag {
  text-align: center;
  z-index: 3;
  font-size: 116px;
  width: 800px;
  margin-bottom: 500px;
  margin-top: 100;
  font-family: "Relaway-ExtraBold";
  line-height: 136.18px;
  letter-spacing: 3.5%;
}

.zag::after {
  content: "*";
}

.zag:hover::before {
  position: absolute;
  transform: translate(25%, 90%);
  z-index: 5;
  font-size: 2vw;
  font-weight: 400;
  background-color: white;
  border: 2px black solid;
  border-bottom: 10px black solid;
  border-radius: 20px;
  height: 16vh;
  width: 45vw;
  line-height: 35px;
  content: "На самом деле нет.\AВажнее &mdash; научиться ошибаться.";
  white-space: pre;
  font-family: "Relaway-Regular";
  text-align: left;
  padding: 40px 20px 20px 20px;
}

.zag::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: 3;
}

.zag:hover {
  color: rgba(76, 76, 76, 1);
}

.zag:hover + video {
  opacity: 70%;
}
